.card {
    width: calc(33.33% - 3rem);
    height: 52rem;
    position: relative;
    perspective: 150rem;
    
    &__front,
    &__back {
        width: 100%;
        border-radius: $border-radius;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .8s ease;
        backface-visibility: hidden;
    }
        
    &__front {
        background-color: $color-white;

        &--picture {
            height: 23rem;
            background-blend-mode: screen;
            clip-path: polygon(0 0 , 100% 0 , 100% 85% , 0 100%);

            &-1 {
                background: linear-gradient(
                to right bottom,
                $color-secondary-light,
                $color-secondary-dark),
                url(../img/nat-5.jpg);
                background-size: cover;
            }

            &-2 {
                background: linear-gradient(
                to right bottom,
                $color-primary-light,
                $color-primary-dark),
                url(../img/nat-6.jpg);
                background-size: cover;
            }

            &-3 {
                background: linear-gradient(
                to right bottom,
                $color-tertiary-light,
                $color-tertiary-dark),
                url(../img/nat-7.jpg);
                background-size: cover;
            }
        }

        &--heading-first,
        &--heading-second {
            color: $color-white;
            font-size: 2.5rem;
            font-weight: 300;
            text-transform: uppercase;
            padding: .5rem 2rem;
            position: absolute;

            &-1 {
                background: linear-gradient(
                to right bottom,
                rgba($color-secondary-light,0.8),
                rgba($color-secondary-dark,0.8));
            }

            &-2 {
                background: linear-gradient(
                to right bottom,
                rgba($color-primary-light,0.8),
                rgba($color-primary-dark,0.8));
            }

            &-3 {
                background: linear-gradient(
                to right bottom,
                rgba($color-tertiary-light,0.8),
                rgba($color-tertiary-dark,0.8));
            }
        }

        &--heading-first {
            top: 12rem;
            right: 2rem;
        }

        &--heading-second {
            top: 16.5rem;
            right: 2rem;
        }

        &--list {
            padding: 3rem;
        }
    
        &--items {
            padding: 1rem 0;
            
            &:not(:last-child) {
                border-bottom: 1px solid $color-gray-light-2;
            }
        }
    }
    
    &:hover &__front {
        transform: rotateY(-180deg);
    }
    
    &__back {
        height: 52rem;
        color: $color-white;
        transform: rotateY(180deg);

        &-1 {
            background: linear-gradient(
            to right bottom,
            $color-secondary-light,
            $color-secondary-dark);
        }

        &-2 {
            background: linear-gradient(
            to right bottom,
            $color-primary-light,
            $color-primary-dark);
        }

        &-3 {
            background: linear-gradient(
            to right bottom,
            $color-tertiary-light,
            $color-tertiary-dark);
        }

        &--only {
            font-weight: 400;
            text-transform: uppercase;
            transform: translateY(10rem);
        }

        &--price {
            font-size: 5rem;
            font-weight: 100;
            transform: translateY(11rem);
            margin-bottom: 18rem;
        }
    }

    &:hover &__back {
        transform: rotateY(0);
    }

    @media only screen and (max-width: 56.25em),
        only screen and (hover: none) {
        width: calc(50% - 3rem);
        height: auto;
        background-color: $color-white;
        border-radius: $border-radius;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
        
        &__front,
        &__back {
            height: auto;
            border-radius: 0;
            box-shadow: none;
            position: relative;
        }

        &:hover &__front {
            transform: rotateY(0);
        }
  
        &__back {
            padding: 7rem 0 5rem;
            transform: rotateY(0);
            clip-path: polygon(0 15% , 100% 0 , 100% 100% , 0 100%);

            &--only {
                transform: translateY(0);
            }
    
            &--price {
                font-size: 4rem;
                margin-bottom: 6rem;
                transform: translateY(1rem);
            }
        }
    }

    @include respond(phone) {
        width: 44rem;
    }
}

