*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%;    // 1rem = 10px ; 10/16 = 62.5%

    @include respond(tab-land) {
        font-size: 56.25%;    // 1rem = 9px ; 9/16 = 56.25%
    }

    @include respond(tab-port) {
        font-size: 50%;    // 1rem = 8px ; 8/16 = 50%
    }

    @include respond(big-desktop) {
        font-size: 75%;    // 1rem = 12px ; 12/16 = 75%
    }

    // Customize the scrollbar in firefox
    scrollbar-color: $color-primary $color-gray-light-1;
}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {
        padding: 0;
    }
}

::selection {
    color: $color-white;
    background: $color-primary;
}

// Customize the scrollbar in chrome , edge and safari

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: $color-gray-light-1;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom,
    $color-primary-light,
    $color-primary-dark);
    border-radius: 1rem;
}